version: '3'
include:
    - docker-compose-base.yml
    - docker-compose-${BACKEND}.yml
services:
  application1:
    image: us-central1-docker.pkg.dev/molten-verve-216720/responsive-repository/e2e-test:${KAFKA_CLIENT_VERSION}
    container_name: application1
    hostname: application1
    depends_on:
      - broker
      - ${BACKEND}
    environment:
      NAME: e2e
      INPUT_TOPIC: input
      OUTPUT_TOPIC: output
      PARTITIONS: 8
      NUM_KEYS: 16
      MAX_OUTSTANDING: 10000
      E2E_APP_MODE: APPLICATION
      CONFIG_PATH: "/app.properties"
      JAVA_OPTS: "-Dlog4j2.configurationFile=/log4j2.properties"
    volumes:
      - ./volumes/app.properties:/app.properties
      - ./volumes/log4j2.properties:/log4j2.properties
    networks:
      backend:
        ipv4_address: 10.0.0.40

  application2:
    image: us-central1-docker.pkg.dev/molten-verve-216720/responsive-repository/e2e-test:${KAFKA_CLIENT_VERSION}
    container_name: application2
    hostname: application2
    depends_on:
      - broker
      - ${BACKEND}
    environment:
      NAME: e2e
      INPUT_TOPIC: input
      OUTPUT_TOPIC: output
      PARTITIONS: 8
      NUM_KEYS: 16
      MAX_OUTSTANDING: 10000
      E2E_APP_MODE: APPLICATION
      CONFIG_PATH: "/app.properties"
      JAVA_OPTS: "-Dlog4j2.configurationFile=/log4j2.properties"
    volumes:
      - ./volumes/app.properties:/app.properties
      - ./volumes/log4j2.properties:/log4j2.properties
    networks:
      backend:
        ipv4_address: 10.0.0.41

  driver:
    image: us-central1-docker.pkg.dev/molten-verve-216720/responsive-repository/e2e-test:${KAFKA_CLIENT_VERSION}
    container_name: driver
    hostname: driver
    depends_on:
      - broker
      - ${BACKEND}
    environment:
      NAME: e2e
      INPUT_TOPIC: input
      OUTPUT_TOPIC: output
      PARTITIONS: 8
      NUM_KEYS: 16
      MAX_OUTSTANDING: 10000
      E2E_APP_MODE: DRIVER
      CONFIG_PATH: "/app.properties"
    volumes:
      - ./volumes/app.properties:/app.properties
    networks:
      backend:
        ipv4_address: 10.0.0.50
