name: PR Build
on:
  pull_request:
    branches:
      - main
      - 'patch/**'
jobs:
  build:
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: false
          docker-images: true
          swap-storage: true

      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0

      - name: "Set up JDK 11"
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: "Login to AWS & Public ECR"
        uses: ./.github/actions/aws-and-ecr-login
        with:
          role-to-assume: arn:aws:iam::292505934682:role/github-responsivedev-org
          role-session-name: github-publish-artifacts
          aws-region: us-east-1
          public: "true"

      - name: "Setup Gradle"
        uses: gradle/gradle-build-action@v2.9.0

      - name: "Merge with Upstream"
        run: git merge main

      - name: "Build & Test"
        run: ./gradlew build buildDocker

      - name: "Checkout sindri"
        uses: actions/checkout@v3
        with:
          repository: responsivedev/sindri
          path: sindri
          ref: refs/heads/main
          token: ${{ secrets.TOOLS_GHA_TOKEN }}

      - name: "Login to AWS & ECR"
        uses: ./.github/actions/aws-and-ecr-login
        with:
          role-to-assume: arn:aws:iam::292505934682:role/github-responsivedev-org
          role-session-name: github-pr-builder
          aws-region: us-west-2

      - name: "Install Kind"
        uses: helm/kind-action@v1.5.0
        with:
          install_only: true

      - name: "Run Smoke Test"
        run: |
          sindri/scripts/update-versions -u -s responsiveOperator -e local -i responsive-operator:`./gradlew operator:cV | grep Project.version | sed 's/Project version: //'`
          sindri/scripts/update-client-versions -s main -p false -i simple-example -t `./gradlew kafka-client:cV  | grep "Project version" | sed 's/Project version: //'`
          sindri/scripts/run-smoke-test -l -w system-tests-pub-pr-${PR_NUMBER} -s main
        env:
            PR_NUMBER: ${{ github.event.number }}
            DD_SERVICE: "https://us5.datadoghq.com/"
            DD_API_KEY: ${{ secrets.DD_API_KEY }}
            PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
