name: CI/CD Main
on:
  push:
    branches:
        - main
jobs:
  build:
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: write # This is required for actions/checkout (read) and publishing tags (write)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: "Login to AWS & ECR"
        uses: ./.github/actions/ecr-login
        with:
          role-session-name: github-publish-artifacts
          aws-region: us-east-1
          public: "true"

      - name: "Setup Gradle"
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build

      - name: "Publish"
        uses: gradle/gradle-build-action@v2
        with:
          arguments: publishMavenJavaPublicationToS3Repository # publish only to S3
        if: github.ref == 'refs/heads/main'

      # We need this to emulate other architectures for multi-platform docker builds
      - name: "Set up QEMU for Docker"
        uses: docker/setup-qemu-action@v2

      # We use the build extensions to do multi-architecture docker builds
      - name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v2

      - name: "Publish Images"
        uses: gradle/gradle-build-action@v2
        with:
          arguments: pushCRD pushDockerMultiArch pushHelm -PdockerRegistry=${{ steps.login-ecr-public.outputs.registry }}/j8q9y0n6 -PhelmRegistry=${{ steps.login-ecr-public.outputs.registry }}/j8q9y0n6
        #if: github.ref == 'refs/heads/main'

      - name: "Login to AWS & ECR"
        uses: ./.github/actions/ecr-login
        with:
          role-session-name: github-publish-artifacts
          aws-region: us-west-2

      - name: "Checkout sindri"
        uses: actions/checkout@v3
        with:
          repository: responsivedev/sindri
          path: sindri
          ref: refs/heads/master
          token: ${{ secrets.TOOLS_GHA_TOKEN }}

      - name: "Install Kind"
        uses: helm/kind-action@v1.5.0
        with:
            install_only: true

      - name: "Run Smoke Test"
        run: |
          sindri/scripts/update-client-versions -s master -p true -i public.ecr.aws/j8q9y0n6/responsiveinc/simple-example -t `./gradlew kafka-client:cV  | grep "Project version" | sed 's/Project version: //'`
          sindri/scripts/run-smoke-test -s master -w system-tests-pub
        env:
            DD_SERVICE: "https://us5.datadoghq.com/"
            DD_API_KEY: ${{ secrets.DD_API_KEY }}
            PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}

      - name: "Push next pub version to Sindri"
        working-directory: sindri
        run: |
          git config --global user.name 'Responsive Tools'
          git config --global user.email 'tools@responsive.dev'
          (git commit -am "update responsive-pub artifact versions" && git push) || echo "git commit failed. likely due to empty commit"
