name: PR Build
on:
  pull_request:
    branches: ["main"]
jobs:
  build:
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::292505934682:role/github-responsivedev-org
          role-session-name: github-pr-builder
          aws-region: us-west-2

      - name: Build & Test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build

      - name: Dryrun Release
        uses: gradle/gradle-build-action@v2
        with:
          arguments: release -Prelease.dryRun
