name: CI/CD Main
on:
  push:
    branches:
        - main
        - test-master-push
jobs:
  build:
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: write # This is required for actions/checkout (read) and publishing tags (write)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::292505934682:role/github-responsive-pub-main
          role-session-name: github-publish-artifacts
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr-public
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry-type: public

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build

      - name: Publish
        uses: gradle/gradle-build-action@v2
        with:
          arguments: publishMavenJavaPublicationToS3Repository # publish only to S3
        if: github.ref == 'refs/heads/main'
        
      - name: Publish Images
        uses: gradle/gradle-build-action@v2
        with:
          arguments: pushCRD pushDocker pushHelm -PdockerRegistry=${{ steps.login-ecr-public.outputs.registry }}/j8q9y0n6 -PhelmRegistry=${{ steps.login-ecr-public.outputs.registry }}/j8q9y0n6
        if: github.ref == 'refs/heads/main'

      - uses: actions/checkout@v3
        with:
          repository: responsivedev/sindri
          path: sindri
          ref: refs/heads/master
          token: ${{ secrets.TOOLS_GHA_TOKEN }}

      - name: Install Kind
        uses: helm/kind-action@v1.5.0
        with:
            install_only: true

      - name: Run Smoke Test
        run: "sindri/scripts/run-smoke-test -s master -p false -i simple-example -t `./gradlew kafka-client:cV  | grep \"Project version\" | sed 's/Project version: //'`"
        env:
            DD_API_KEY: ${{ secrets.DD_API_KEY }}
            PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}

      - name: Push next pub version to Sindri
        run: |
          git config --global user.name 'Responsive Tools'
          git config --global user.email 'tools@responsive.dev'
          git commit -am "update responsive-pub artifact versions"
          git push
