name: PR Build
on:
  pull_request:
    branches: ["main"]
jobs:
  build:
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::292505934682:role/github-responsivedev-org
          role-session-name: github-pr-builder
          aws-region: us-west-2

      - name: Build & Test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build kafka-client-examples:simple-example:buildDocker

      - uses: actions/checkout@v3
        with:
          repository: responsivedev/sindri
          path: sindri
          ref: refs/heads/master
          token: ${{ secrets.TOOLS_GHA_TOKEN }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Install Kind
        uses: helm/kind-action@v1.5.0
        with:
          install_only: true

      - name: Run Smoke Test
        run: |
          sindri/scripts/update-client-versions -s master -p false -i simple-example -t `./gradlew kafka-client:cV  | grep \"Project version\" | sed 's/Project version: //'`
          sindri/scripts/run-smoke-test -l -w system-tests-pub -s master
        env:
            DD_API_KEY: ${{ secrets.DD_API_KEY }}
            PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
